@font-face {
  font-family: 'Minecraft-Regular';
  src:url('../fonts/Minecraft-Regular.ttf.woff') format('woff'),
      url('../fonts/Minecraft-Regular.ttf.svg#Minecraft-Regular') format('svg'),
      url('../fonts/Minecraft-Regular.ttf.eot'),
      url('../fonts/Minecraft-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
  }
  html,

body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: url("../images/dirtTexture.jpg");
}
#container {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}
#game-container{
  height: 100%;
  vertical-align: middle;
}
#game {
  width: 100%;
  max-width: 670px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #C6C6C6;
  border-radius: 1%;
  border-color: black;
  border: 5px solid;
  border-bottom-color: #555555;
  border-right-color: #555555;
  border-left-color: #FFFFFF;
  border-top-color: #FFFFFF;
  outline: 2px;
  outline-style: solid;
  outline-color: black;
}

header { 
  max-height: 77px;
  width: 100%;
  background-image: url("../images/GrassBlockSide.png");
  margin-bottom: 10px;
}

.title {
  color: gainsboro;
  font-size: 4rem;
  margin: 0;
  padding-top: 10px;
  font-weight: bold;
  text-align: center;
  font-family: "Minecraft-Regular";
  text-shadow: 3px 3px black;
}

#crafting-board-container {
  width: 100%;
  justify-content:space-evenly;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.recipe-book{
  border: 4px solid;
  border-radius: 1%;
  background-color: #C6C6C6;
  border-bottom-color: #373737;
  border-right-color: #373737;
  border-left-color: #FFFFFF;
  border-top-color: #FFFFFF;
  max-width: 56px;
  max-height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  outline: solid 2px black;
}
.recipe-book:active {
  background-color: #8B8B8B;
  border-top-color: #373737;
  border-left-color: #373737;
  border-right-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}
.recipeBookImg {
  justify-content: center;
  height: 42px;
  width: 48px;
}
#crafting-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 190px;
  grid-gap: 5px;
  box-sizing: border-box;
}

.squareCrafting {
  border: 4px solid;
  background-color: #8B8B8B;
  border-top-color: #373737;
  border-left-color: #373737;
  border-right-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  width: 66px;
  height: 66px;
  font-size: 50px;
  font-weight: bold;
  color: gainsboro;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}
#inventory-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
}

#inventory-board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 4px;
  box-sizing: border-box;
}
.squareInventory {
  border: 4px solid;
  background-color: #8B8B8B;
  border-top-color: #373737;
  border-left-color: #373737;
  border-right-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lastInventoryLine {
  margin-top: 10px;
  margin-bottom: 5px;
}
.squareResult {
  border: 4px solid;
  background-color: #8B8B8B;
  border-top-color: #373737;
  border-left-color: #373737;
  border-right-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  max-height: 120px;
  max-width: 120px;
  justify-content: left;
}

.guess-history-container {
  width: 100%;
  max-width: 670px;
  height: 20%;
  max-height: 174px;
  margin-top: 2%;
  flex-direction: column;
  background-color: #C6C6C6;
  border-radius: 1%;
  border-color: black;
  border: 5px solid;
  border-bottom-color: #555555;
  border-right-color: #555555;
  border-left-color: #FFFFFF;
  border-top-color: #FFFFFF;
  outline: 2px;
  outline-style: solid;
  outline-color: black;
  justify-content: center;
}
.guess {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}
.squareGuess {
  border: 3px solid rgb(58, 58, 60);
  background-color: #8B8B8B;
  border-top-color: #373737;
  border-left-color: #373737;
  border-right-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
.guessRow {
  justify-content: center;
}
.block {
  width: 60px;
  height: 60px;
}
.text {
  color:#3f3f3f;
  font-family: 'Minecraft-Regular';
  margin:0;
  vertical-align: bottom;
}
.buttons{
  margin-right: 8%;
}
.button {
  font-family: 'Minecraft-Regular';
  color:#3f3f3f;
  width: 65px;
  background-color: #C6C6C6;
  border: solid 4px;
  border-bottom-color: #373737;
  border-right-color: #373737;
  border-left-color: #FFFFFF;
  border-top-color: #FFFFFF;
}
.button:active {
  color:#C6C6C6;
  background-color: #8B8B8B;
  border-top-color: #373737;
  border-left-color: #373737;
  border-right-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}
.button:focus{
  outline: 0;
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: block;
  font-family: 'Minecraft-Regular';
  margin: 15% auto; /* 15% from the top and centered */
  margin-top: 5%;
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  max-width: 500px;
  height: 80%;
  background-color: #C6C6C6;
  border-radius: 1%;
  border-color: black;
  border: 5px solid;
  border-bottom-color: #555555;
  border-right-color: #555555;
  border-left-color: #FFFFFF;
  border-top-color: #FFFFFF;
  outline: 2px;
  outline-style: solid;
  outline-color: black;
}

/* The Close Button */
.close {
  color: #555555;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}